{% extends 'base.html' %}
{% block content %}
    <h1>{{hunt.hunt_name}}</h1>
    {% if hunt.locations|length %}
      <ol>
      {% for location in hunt.locations %}
        <li>{{location.place_name}}</li>
      {% endfor %}
      </ol>
    <a class="btn btn-warning" href="{{url_for('locations.index', user_id=current_user.id, id=hunt.id)}}">See the Hunt</a>
    {% else %}
      <h4>You haven't added any locations yet</h4>
      <a class="btn btn-warning" href="{{url_for('locations.index', user_id=current_user.id, id=hunt.id)}}">Build the Hunt</a>
    {% endif %}
{% endblock %}