{% extends 'base.html' %}
{% block content %}
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #hintsForm {
      display: inline-block;
    }

  </style>

  <div >
  <h1>Work on your Hunt
    <a class="btn btn-warning btn-sm" href="{{url_for('hunts.show', user_id=current_user.id, id=id)}}">Back to Hunt Overview</a>
  </h1>
  </div>
  <br>
  
  <form id="searchForm" action="{{url_for('locations.geocode', user_id=current_user.id, id=id)}}">
    <input type="hidden" id="user_id" value="{{current_user.id}}">
    <input type="hidden" id="hunt_id" value="{{id}}">
    <label>Search to Add a Location<input class="place" type="text"></label>
    <input type="submit" class="btn btn-danger btn-sm" value="search">
  </form>

  <form id="hintsForm" style="display: none;">
    <input type="hidden" id="user_id" value="{{current_user.id}}">
    <input type="hidden" id="hunt_id" value="{{id}}">
    <input type="hidden" id="lat">
    <input type="hidden" id="lng">
    <input type="hidden" id="search">
    <label>Write Hint to Add Location<input class="hint" type="text"></label>
    <input class="btn btn-primary btn-sm" type="submit" value="add to hunt">
  </form>
  <button id="newSearch" type="button" class="btn btn-success btn-sm" style="display: none;">new search</button>
  <br>


  <div id="map"></div>
  
  <script
    src="https://maps.googleapis.com/maps/api/js?v=3.27&key=AIzaSyD3GR4qurOOFeNGD2U3ar8YhD8hQ3hIR8U&signed_in=true">
  </script>

  <!-- <script src="../../../static/script.js"></script> -->
  <script>
  $(function(){
      var $searchForm = $('#searchForm');
      var $hintsForm = $('#hintsForm');
      var $newSearch = $('#newSearch');
      var $userId = $('#user_id').val();
      var $huntId = $('#hunt_id').val();
      var markers = [];
      var map;
      var pendingMarker;

      function initMap(lat, lng) {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: lat, lng: lng}
        });
      }
// Set up map
      $.ajax({
        method: 'get',
        url: `/users/${$userId}/hunts/${$huntId}/locations/`,   
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        }       
      })
      .then(function(res){
        var hunt_midpoint = Math.floor(res.length/2)  
        var params = hunt_midpoint ? [res[hunt_midpoint][0], res[hunt_midpoint][1]] : [37.769, -122.446]
        initMap(...params);
        if (res) {
          setMapOnAll(map, res);
        }
        function setMapOnAll(map, res) {
          for (let i = 0; i < res.length; i++) {
            var newMarkerCoords = {lat: res[i][0], lng: res[i][1]};
            var newMarker = new google.maps.Marker({
              position: newMarkerCoords,
              map: map,
              huntLocationId: res[i][3],
              label: `#${res[i][2]}`
            });
            markers.push(newMarker)
          }
        }
        for (let j = 0; j < markers.length; j++) {    
          markers[j].addListener('dblclick', function(e){
            this.setMap(null);
            markers = markers.filter(function(marker) {
              return marker.huntLocationId !== this.huntLocationId;
            });
            // e.preventDefault();
            $.ajax({
              method: 'post',
              url: `/users/${$userId}/hunts/${$huntId}/locations/delete?_method=DELETE`, 
              data: {
                lat: this.position.lat(),
                lng: this.position.lng(),
                huntLocationId: this.huntLocationId
              }
            })
          });
          var infoWindow;
          markers[j].addListener('mouseover', function(e){
            infoWindow = new google.maps.InfoWindow({
              content: `double click to delete`
            });
            infoWindow.open(map, this);
          });
          markers[j].addListener('mouseout', function(e){
            infoWindow.setMap(null);
          });
        }
      })
// Upon searching for place
      var searchedInfoWindow;
      var searchedMarker;
      // var added;
      $searchForm.on("submit", function(e){
        e.preventDefault();
        var $place = $('.place').val();
        $('.hint').val('');
      
        $.ajax({
            method: 'post',
            url: `/users/${$userId}/hunts/${$huntId}/locations/geocode`,   
            data: {
                place: $place
            },
          })
        .then(function(res){
          var newPlace = {lat: res[0], lng: res[1]};
          var search = res[2];
          createMarker(newPlace, map);
          $hintsForm.css({ "display": 'block'});
          $newSearch.css({ "display": 'block'});
          $('#searchForm').css({ "display": 'none'});
          $('#lat').val(newPlace['lat']); 
          $('#lng').val(newPlace['lng']); 
          $('#search').val(search); 

          function createMarker(newPlace, map) {
            searchedMarker = new google.maps.Marker({
              map: map,
              position: newPlace,
            });

            searchedInfoWindow = new google.maps.InfoWindow({
              content: search
            });

            searchedInfoWindow.open(map, searchedMarker);       
          }
        }) 
      })
// Upon adding hint
        $hintsForm.on("submit", function(e){
          e.preventDefault();
          var hint = $('.hint').val();
          var lat = $('#lat').val();
          var lng = $('#lng').val();
          var search = $('#search').val();
          $hintsForm.css({ "display": 'none'});
          $newSearch.css({ "display": 'none'});
          $searchForm.css({ "display": 'block'});
          $('#search').removeAttr('value');
          $('.place').val('');
          searchedInfoWindow.setMap(null);
        
          $.ajax({
            method: 'post',
            url: `/users/${$userId}/hunts/${$huntId}/locations/`,    
            data: {
              lat: lat,
              lng: lng,
              place: search,
              hint: hint
            },
            beforeSend: function (xhr) {
              xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            }
          })
          .then(function(res){ 
            var added = new google.maps.Marker({
              map: map,
              position: {lat: +res[0], lng: +res[1]},
              label: `#${res[3]}`
            });
          })
          });
// Upon clicking on new search
        $newSearch.on("click", function(e){
          e.preventDefault();
          $hintsForm.css({ "display": 'none'});
          $newSearch.css({ "display": 'none'});
          $searchForm.css({ "display": 'block'});
          $('#search').removeAttr('value');
          $('.place').val('');
          searchedMarker.setMap(null);
          searchedInfoWindow.setMap(null);
        })


  })
  </script>

{% endblock %}

